In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/farequote.csv', sep=',', header=0)
df.head(5)

                   time airline  responsetime sourcetype
0  2014-06-23 00:00:00Z     AAL      132.2046  farequote
1  2014-06-23 00:00:00Z     JZA      990.4628  farequote
2  2014-06-23 00:00:00Z     JBU      877.5927  farequote
3  2014-06-23 00:00:00Z     KLM     1355.4812  farequote
4  2014-06-23 00:00:00Z     NKS     9991.3981  farequote

In [20]:
df.describe()

In [9]:
np.unique(df.airline)

array(['AAL', 'ACA', 'AMX', 'ASA', 'AWE', 'BAW', 'DAL', 'EGF', 'FFT',
       'JAL', 'JBU', 'JZA', 'KLM', 'NKS', 'SWA', 'SWR', 'TRS', 'UAL', 'VRD'], dtype=object)

In [21]:
dd = df.query('airline=="KLM"') ## 得到法航的数据
dd.responsetime.describe()

count    86275.000000
mean       549.492172
std       1449.437637
min          4.252500
25%         20.739200
50%        187.903800
75%        406.406400
max      10334.943000
Name: responsetime, dtype: float64